/* Tablet */
@media screen and (max-width: 1024px) {
    :root {
        --max-width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Small Mobile */
@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
} 